images/icons/abilities/
images/icons/inspiration/
images/icons/dnd-font/
images/icons/area/inspiration/
images/icons/damage/inspiration/
images/icons/entity/inspiration/
images/icons/spells/inspiration/
charsheet/reference/
